@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0F172A;
    --foreground: #F8FAFC;
    --card: #1E293B;
    --card-foreground: #FFFFFF;
    --primary: #3B82F6;
    --primary-foreground: #FFFFFF;
    --secondary: #334155;
    --secondary-foreground: #F8FAFC;
    --muted: #334155;
    --muted-foreground: #94A3B8;
    --accent: #14B8A6;
    --accent-foreground: #FFFFFF;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --border: #334155;
    --input: #1E293B;
    --ring: #3B82F6;
  }
}
